


body {
    margin: 0;
    display: flex;
    padding: 0;
    font-family: "Raleway", "Arial", "sans-serif";
    width: 100%;
    height: 2844px;
    box-sizing: border-box;
  }

.header {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  margin-top: 92px;
  margin-bottom: 96px;
  align-items: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

  .header_menu {
    display: flex;
    position: relative;
    justify-self: start;
   width: 100%;
   padding-left: 51px;
        
  }

  .header_links_list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    gap: 32px;
  }
  
  .header__links-list-item_no-bullit {
     text-decoration: none;
     list-style: none;
  }



.header_logo {
  display: inline-block;
    box-sizing: border-box;
    justify-self: center;
}

.header_logo_image {
width: 148px;
height: 105px; 
}

.box {
display: flex;
justify-self: end;
padding-right: 49px;
}

.header__address {
  display: inline-block;
  position: relative;
  width: 100%;
   flex-direction: column;
   line-height: 24.3px;
   

}

.main {
  display: block;
  position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 293px;
  }

.cover {
  display: flex;
    position: relative;
    background: url("/images/cover.jpg") center/cover no-repeat;
    background-position: center;
    height: 757px;   /**/
    width: auto;

  }
  
  .overlay {
    position: absolute;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.5); /* Цвет и прозрачность затемнения */
    inset: 0;
    z-index: 1; /* Поместить затемнение под изображение */
    width: 100%;

  }



.cover-title {
  display: inline-block;
  position: relative;
  width: 100%;
font-size: 100px;
font-style: normal;
font-weight: 700;
letter-spacing: 30px;
color: white;
text-transform: uppercase;
padding: 0;
  z-index: 3;
}

.no {
  letter-spacing: 60px;
}

.ono {
  display: inline-block;
  box-sizing: border-box;
  text-align: start;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 165px;
}

.tebe {
  text-align: center;
  margin-bottom: 20px;
}

.be {
  letter-spacing: 60px;
}


.nado {
  text-align: end;
  margin-right: 50px;
}

.na {
  letter-spacing: 60px;
}


.subline{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
 text-transform: uppercase;
 text-align: right;
 white-space: nowrap;
 color: white;
  margin-top: 100px;
  margin-right: 50px;
  align-items: center;
  justify-self: end;

}

.auction {
display: inline-block;
  font-size: 22px;
  margin-right: 78px;
}

.botton {
  display: inline-block;
  text-decoration: none;
  border: 2px solid;
 line-height: 28px;
  width: 257px;
  height: 52px;
  padding: 12px 32px;
  background-color: transparent;

}

.name {
  display: inline-block;
  margin-top: 180px;
  margin-left: 90px;
  margin-bottom: 27px;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}









.lots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
 gap: 25px;
  max-width: 100%;
  background-color: rgb(178, 115, 115);
  z-index: 1;
  margin-left: 50px;
  margin-right: 50px;
  justify-items: center;
  padding: 0;
  
}
.underline {
  text-decoration: none;
}
.movie,
.book, 
.picture {
  position: relative;
  height: 450px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.movie::before,
.book::before, 
.picture::before {
  content: "";
  position: absolute;
  height: 450px;
  width: 430px;
  background-color: rgba(0, 0, 0, 0.5); 

}


.movie {

  background-image: url("/images/card-lot-01.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
max-width: 430px;

  
}

.book {
  background-image: url("/images/card-lot-02.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
   max-width: 430px;

}

.picture {
  background-image: url("/images/card-lot-03.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}




.card_title {
  display: inline-block;
  position: relative;
  width: 100%;
  color: white;
font-family: "Raleway";
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
text-decoration-line: underline;
text-transform: uppercase;
z-index: 3;
padding: 50px 40px 0 40px;
margin-bottom: auto; 
}

.card_text {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  color: white;
  font-family: "Raleway";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%; 
z-index: 3;
margin: 0;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 50px;

}







.more {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  margin-left: 90px;
  font-family: "Raleway";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: column;
  background-color: blanchedalmond;
  box-sizing: border-box;
  margin: 181px 50px 180px 50px;
 
  }




.logo_column {
  display: inline-block;
  position: relative;
  align-items: start;
  width: 240px;
  height: 240px;
  margin: 0 95px 0 95px

}

.logo_column::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
}


.header__logo_white {
  display: inline-block;
  position: relative;
  width: 148px;
  align-self: start;
  z-index: 2;
  background-size: cover;
  margin:  63px 46px 63px 46px;
  
}


.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px 25px 0 25px;
  font-family: "Raleway";
  line-height: normal;
}

.about__title {
  display: inline-block;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 100px;
width: 100%;
justify-self: start;
}


.about_text {
  display: inline-block;
  position: relative;
font-size: 20px;
font-weight: 400;
margin-bottom: 25px;
width: 100%;
}





.footer {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
 width: 100%;                         /*убрать потом*/
  background-color: blanchedalmond;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  align-self: end;
  margin: 180px 50px 90px 50px;
}

.footer__menu {
 display: flex;
 flex-direction: column;
 text-align: center;
 width: 100%;
 justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
width: 100%;
}

.socials {
  display: flex;
  width: 100%;
  height: 48px;
  list-style: none;
 gap: 48px;
 justify-content: end; 
  
}

.youtube {
  display: inline-block;;
  width: 48px;
}

.vk {
  display: inline-block;
  width: 48px;
  
}

.pinterest {
  display: inline-block;
  width: 48px;
}

