body {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", "Arial", "sans-serif";
  }

.header {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  margin-top: 92px;
  margin-bottom: 93px;
  box-sizing: border-box;
  align-items: center;
  font-size: 18px;

}

.header_menu {
  display: flex;
  position: relative;
  justify-self: start;
  width: 100%;
  padding-left: 51px;
}

.header_links_list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 32px;
}

.header__links-list-item_no-bullit {
 text-decoration: none;
 list-style: none;
}

.header_logo {
  display: inline-block;
  box-sizing: border-box;
  justify-self: center;
}

.header_logo_image {
 width: 148px;
 height: 105px;
}



.header__address {
 display: inline-block;
 padding-right: 50px;
 justify-self: end;
  line-height: 24.3px;
  font-style: normal;
}

.main {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.cover {
  display: flex;
  position: relative;
  height: 757px;
  width: auto;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.cover-title {
 display: inline-block;
  z-index: 3;
  width: 100%;
  height: 100%;
  color: #FFF;
}

.first_line {
  display: inline-block;
  text-align: start;
  margin-left: 50px;
  margin-top: 165px;
  line-height: 115px;
  margin-bottom: 20px;

  text-transform: uppercase;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  
}

.second_line {
  margin-bottom: 20px;
  text-align: center;
  line-height: 100px;

  text-transform: uppercase;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
}

.third_line{
  margin-right: 50px;
  text-align: end;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  margin: 135px 50px 50px 0;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
  
}

.auction {
 display: inline-block;
padding-right: 78px;
margin-left: auto;
 color: #FFF;
 word-spacing: 17px;
}

.bet-button {
  display: inline-block;
  padding: 12px 32px 12px 32px;
  width: 257px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid;
  background-color: transparent;
  color: #FFF;
  white-space: nowrap;
  text-decoration: none;
}



.lots {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin-top: 180px;

  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  justify-items: center;
  gap: 25px;
}

.lots__heading {
  display: inline-block;
  grid-column: span 3;
 justify-self: start;
  padding-left: 40px;
 
  margin-bottom: 2px;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.underline {  
  text-decoration: none;
} 

.movie,
.book, 
.picture {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 450px;
  max-width: 430px;
  overflow: hidden;
}

.movie::before,
.book::before, 
.picture::before {
  content: "";
  position: absolute;
  height: 450px;
  width: 430px;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie {
  max-width: 430px;
  background-image: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.book {
  max-width: 430px;
  background-image: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.picture {
  max-width: 430px;
  background-image: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_title {
 display: inline-block;
 position: relative;
 z-index: 3;
 width: 100%;
 padding: 50px 40px 0 40px;
 margin-bottom: auto;
 color: white;
 font-size: 22px;
 font-weight: 700;
 line-height: 120%;
 text-decoration-line: underline;
 text-transform: uppercase;
}

.card_text {
 display: inline-block;
 position: relative;
 box-sizing: border-box;
 z-index: 3;
 width: 100%;
 margin: 0;
 padding-left: 40px;
 padding-right: 40px;
 padding-bottom: 50px;
 color: white;
 font-size: 20px;
 line-height: 120%;
}

.more {
 display: inline-block;
 justify-self: start;
 position: relative;
 margin: 5px 0 0 40px;
 font-size: 20px;
 text-decoration: underline;
}

.about {
 display: grid;
 grid-template-columns: 1fr 2fr;
 flex-direction: column;
 width: auto;
 margin: 181px 50px 0 50px;
 box-sizing: border-box;
}

.logo_column {
  display: inline-block;
  position: relative;
  margin: 0 95px 0 95px;
  width: 240px;
  height: 240px;
  align-items: start;
} 

.logo_column::before {
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.header__logo_white {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 148px;
  margin:  63px 46px 63px 46px;
  align-self: start;
  background-size: cover;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px 25px 0 0;
}

.about__title {
  display: inline-block;
  margin-bottom: 100px;
  justify-self: start;
 font-size: 40px;
 font-weight: 700;
 text-transform: uppercase;
}

.about_text {
  display: inline-block;
  margin-bottom: 25px;
  width: 100%;
  font-size: 20px;
  font-weight: 400;

}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 155px 50px 50px 50px; /** margin top*/
  font-size: 18px;
}

.footer__address {
  display: inline-block;
  padding-right: 49px;
  justify-self: start;
   width: 100%;
   line-height: 24.3px;
   font-style: normal;
 }

.footer__menu {
 display: flex;
 flex-direction: column;
 justify-self: center;
 text-align: center;
 
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.socials {
  display: flex;
  width: 100%;
  height: 48px;
  list-style: none;
  gap: 48px;
  justify-content: end;
}

.youtube {
  display: inline-block;
  width: 48px;
}

.vk {
  display: inline-block;
  width: 48px;
  
}

.pinterest {
  display: inline-block;
  width: 48px;
}

